%h1 Message
%h2 Text:
%p#message-text #{ @message.text }
%br/
- if @message.option
  - if @message.option.delete_after_views
    - if @message.option.delete_after_views > 0
      %p Message will be deleted after #{ @message.option.delete_after_views } views.
    - else
      %p Message has been deleted.
  - if @message.option.delete_at
    %p Message will be deleted #{ @message.option.delete_at.strftime('%d-%m-%Y') } at #{ @message.option.delete_at.strftime('%H:%M') } UTC.
- if @message.password.present?
  :javascript
    var message = "#{ @message.text[0...-2] }" + "\r\n";
    var password = "#{ @message.password }";
    $('#message-text').html(GibberishAES.dec(message, password));
